.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border-top: 0.25rem solid rgb(220, 20, 60, 0.125); */
  border-bottom: 0.25rem solid rgb(220, 20, 60, 0.125);
  background: rgb(220, 20, 60, 0.05);
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  /* color: #000; */
  color: red;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* border: 0.125rem solid rgb(220, 20, 60, 0.25); */
}

.logo {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  /* border: 0.125rem solid rgb(220, 20, 60, 0.25); */
}

.logo a {
  color: red;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}

/* ENV */
.envDev,
.envProd {
  border: 2px solid;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
}
.envDev,
.out {
  color: deeppink;
}
.envProd,
.in {
  color: green;
}
