.main {
  padding: 60px 0;
  min-height: calc(100vh - 60px - 80px);
}
.container {
  /* margin: 60px auto; */
  margin: 0 auto;
  max-width: 960px;
  /* padding: 0 30px; */
  padding: 0.75rem 1.5rem;
  border: 0.25rem solid rgb(220, 20, 60, 0.125);
  border-radius: 0.5rem;
  background: rgb(220, 20, 60, 0.05);
}
